<div class="icon-clock">&#128340;</div>
<div class="time-remaining">{{timeRemaining}}</div>
<h1>{{name}}</h1>
<div class="polar-clock-container">
  <div class="polar-clock" id="canvas{{name}}"></div>
  <div class="room-status-text">vacantó</div>
</div>

