.modal-overlay{background:rgba(0,0,0,0);position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;z-index:100;}
.modal-overlay.active{background:rgba(0,0,0,0.7)}
.modal{color:#000;padding:20px;width:40%;height:40%;position:absolute;top:30%;left:30%;background:#fff;z-index:150;-webkit-transition:all .3s ease;transition:all .3s ease;opacity:0;-webkit-transform-origin:150% 70%;transform-origin:150% 70%;-webkit-transform:rotate(-40deg) skew(10deg,15deg) scale(1,1);transform:rotate(-40deg) skew(10deg,15deg) scale(1,1);}
.modal.active{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}
.modal h2{margin-top:0;text-transform:uppercase;font-size:20px;font-weight:500}
.modal .close-modal{position:absolute;top:0;right:0;font-size:22px;padding:20px;cursor:pointer}
.modal hr{height:1px;border:none;background:#ccc;margin-bottom:20px;margin-top:-5px}
.checkbox-group{width:100%;}
.checkbox-group .draggable-handle{position:absolute;height:100%;width:20px;top:0;left:0;font-size:22px;font-family:Times New Roman,serif;line-height:6px;padding:7px 0 0 12px;color:#bbb;text-shadow:0 -1px 1px #fff;box-sizing:border-box}
.checkbox-group label{display:block;padding:10px 10px 10px 70px;background:#f3f3f3;border-bottom:1px solid #ddd;position:relative;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:10px 30px 10px 40px;}
.checkbox-group label.sortable-ghost{opacity:.3;border:1px dashed #777}
.checkbox-group label.inactive{opacity:.5}
.checkbox-group label:last-child{border-bottom:none;}
.checkbox-group label:last-child .border-left{padding-bottom:0}
.checkbox-group input[type=checkbox]{position:absolute;right:5px}
@font-face{font-family:entypo;font-style:normal;font-weight:normal;src:url("../fonts/entypo.woff") format('woff'),url("../fonts/entypo.ttf") format('truetype'),url("../fonts/entypo.svg#font") format('svg')}
.icon-clock{font-family:entypo;font-size:42px;text-align:center;margin-top:37px}
.icon-person{font-family:entypo;font-size:30px}
.icon-arrow-right{font-family:entypo;font-size:30px;display:inline-block;color:#585858;transform:scale(2,1);-webkit-transform:scale(1,2)}
body{background:#000;position:absolute;height:100%;width:100%;margin:0;font-family:'Raleway';font-weight:100;color:#fff}
h1{font-weight:500;text-transform:uppercase;font-size:68px;text-align:center;margin-top:64px}
img{width:110px;height:110px;border-radius:50%;position:absolute;z-index:10;left:50%;margin-left:-55px;margin-top:-45px}
#calendarMenuBtn{position:absolute;bottom:0;right:0;z-index:110;font-size:40px;text-shadow:0 -2px rgba(0,0,0,0.3);background:transparent;border:none;color:#fff;font-family:Times New Roman,Times New Roman,Times,serif;padding:10px;line-height:30px;cursor:pointer;text-decoration:none}
.time-remaining{font-size:51px;text-align:center;margin-top:-3px}
.polar-clock-container{position:absolute;width:100%;height:50%;bottom:0;padding:0 50px 70px 50px;box-sizing:border-box}
.room-status-text{position:absolute;left:0;margin-bottom:0;font-size:43px;text-align:center;width:100%;text-shadow:0 -2px rgba(0,0,0,0.3)}
.polar-clock{width:100%;height:100%}
#OcupadoApp{display:-webkit-box;display:-webkit-flex;display:flex;height:100%;-webkit-box-pack:justify;align-items:stretch;overflow:hidden;}
#OcupadoApp *{box-sizing:border-box}
#OcupadoApp section{width:0;box-flex:1;-webkit-box-flex:1;-webkit-flex:1;flex:1;position:relative;border-left:1px solid #000;}
#OcupadoApp section:first-child{border-left:none}
#OcupadoApp section.small h1{font-size:48px;margin-top:10px;margin-bottom:20px}
#OcupadoApp section.small .room-status-text{font-size:30px}
#OcupadoApp section.small img.creator-image{width:70px;height:70px;margin-left:-35px;margin-top:-25px}
#OcupadoApp section.small .time-remaining{font-size:31px}
#OcupadoApp section.small .icon-clock{margin-top:10px}
.occupied{background:#d86248;background:-webkit-gradient(linear,left top,left bottom,color-stop(28%,#d86248),color-stop(60%,#d44543));background:linear-gradient(to bottom,#d86248 28%,#d44543 60%);}
.occupied .creator-name{font-size:18px;text-align:center;font-weight:400}
.upcoming{background:#3e3e3e;background:-webkit-gradient(linear,left top,left bottom,color-stop(28%,#3e3e3e),color-stop(60%,#343434));background:linear-gradient(to bottom,#3e3e3e 28%,#343434 60%);}
.upcoming .up-next{text-align:center;font-size:18px}
.vacant{background:#b5b44b;background:-webkit-gradient(linear,left top,left bottom,color-stop(28%,#b5b44b),color-stop(60%,#92b142));background:linear-gradient(to bottom,#b5b44b 28%,#92b142 60%);}
#authorizeButton{background:#3d3d3d;color:#d5b430;border:none;border-radius:5px;padding:10px 20px;position:absolute;top:50%;margin-top:-35px;left:50%;margin-left:-105px;font-size:42px;font-family:'Raleway';font-weight:100}
