@import 'includes/mixins'
@import 'rooms/occupied'
@import 'rooms/upcoming'
@import 'rooms/vacant'

body
  background #000
  position absolute
  height 100%
  width 100%
  margin 0
  font-family 'Raleway'
  font-weight 100

h1
  font-weight 500

#OcupadoApp
  display flex
  height 100%
  align-items stretch

  section
    flex 1
