@import 'includes/mixins'
@import 'includes/modal'
@import 'includes/icons'

@import 'rooms/common'
@import 'rooms/occupied'
@import 'rooms/upcoming'
@import 'rooms/vacant'

#authorizeButton
  background #3d3d3d
  color #d5b430
  border none
  border-radius 5px
  padding 10px 20px
  position absolute
  top 50%
  margin-top -35px
  left 50%
  margin-left -105px
  font-size 42px
  font-family 'Raleway'
  font-weight 100

