@font-face
   font-family entypo
   font-style normal
   font-weight normal
   src url(../fonts/entypo.woff) format('woff'),
       url(../fonts/entypo.ttf) format('truetype'),
       url(../fonts/entypo.svg#font) format('svg')


.icon-clock
  font-family entypo
  font-size 42px
  text-align center
  margin-top 37px

.icon-person
  font-family entypo
  font-size 30px

.icon-arrow-right
  font-family entypo
  font-size 30px
  display inline-block
  color #585858
  transform scale(2,1)
  -webkit-transform scale(1,2)

