gradient(color1, color2)
  background: color1
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, color1), color-stop(60%, color2)); /* Chrome,Safari4+ */
  background: linear-gradient(to bottom, color1 28%, color2 60%); /* W3C */
